@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom,#3d010f,#720020d2,#4d030b8a);
    }
    section#login{
        width: 70vw;
        height: 300px;
       box-shadow:0px 0px 10px rgba(0, 0, 0, 0.438);
       
    }
    section div#imagem{
   
        width: 40%;
       height: 100%;
        float: left;
        background-color: black;
        
    }
    section div#formulario{
        float: right;
        width: 60%;
        height: 100%;
        
    }


    
}
@media  screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to bottom,#250009,#5f011b,#2200038a);
    }
    section#login{
        width: 940px;
       height: 360px;
       
    }
section div#imagem{
   
    width: 50%;
   height: 100%;
    float: left;
    background-color: black;
    
}
section div#formulario{
    float: right;
    width: 50%;
    height: 100%;
    
}
  
    
}