@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
     width: 250px;
     height: 500px;
    margin: auto;
   
  overflow: hidden;
   border-radius: 15px;
   transition: width .1s,height .1s;
   transition-timing-function: ease;
    
   
}
section #foto {
    background-color: black;
    background-image: url(../imagens/mario.jpg);
    background-position:center center;
    background-size: cover;
     height: 150px;
     border-radius: 15px 15px 0px 0px;
     display: block;

}
 section .formulario{
    background-color: white;
    display: block;
   

    
}
.formulario h1{
    text-align: center;
    padding: 10px;
}
.formulario p{
   text-align: justify;
   font-size:12.5px;
   line-height: 18px;
   padding: 10px 10px 0px 10px;
   
}
form{
   
    font-size:28px;
  text-align: center;
  background-color: white;
  
   
}
form .caixa input{
    width: 180px;
    height: 7px;
   
    border-radius: 10px;
  padding:13px;
  border-top: 7px solid rgb(199, 50, 50) ;
  border-right: 4px solid  rgb(199, 50, 50) ;
  border-bottom: 2px solid  rgb(199, 50, 50);
  border-left: 4px solid  rgb(199, 50, 50);
  
    
}
form .caixa{
   height: 38px;
    position: relative;
   

    

   
}
 form .caixa .icon{
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    width: 30px;
    height: 34px;
    background-image: url(../imagens/vpn_key_FILL0_wght400_GRAD0_opsz48.png);
    background-size: cover;
    padding-right: 5px;
    border: 3px solid  rgb(199, 50, 50);
    border-radius: 5px;
    background-color:    rgb(199, 50, 50);
    

}
.button input{
    width: 230px;
    padding: 15px;
    background-color:#94CFCD ;
    color: white;
    border-radius: 5px;
    border:1px solid  #94CFCD;
    margin: 5px;
}
.button2 input{
    width: 230px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border:1px solid #94CFCD;
    color: #315857;
}